// Custom window rules
// @id=wr_1778144979453654191 @name=wlfreerdp
window-rule {
    match app-id="^wlfreerdp$"
    open-maximized true
    open-on-workspace "rdp"
}
// @id=wr_1778153830626297462 @name=chrome-pkooggnaalmfkidjmlhoelhdllpphaga-Default
window-rule {
    match app-id="^chrome-faolnafnngnfdaknnbpnkhgohbobgegn-Default$" title="^Outlook.*"
    open-on-workspace "comms"
}
// @id=wr_1778153908748318226 @name=chrome-ompifgpmddkgmclendfeacglnodjjndh-Default
window-rule {
    match app-id="^chrome-cifhbcnohmdccbgoicgdjpfamggdegmo-Default$" title="^Microsoft Teams.*"
    open-on-workspace "comms"
}
// @id=wr_1779175332472890082 @name=gopass window
window-rule {
    match app-id="^chrome.*" title="^gopass bridge$"
    open-floating true
    open-focused true
    min-width 640
    max-width 640
    min-height 480
    max-height 480
}
// @id=wr_1780376635435741116 @name=LabVIEW64-2026 Controls
window-rule { match app-id=r"^LabVIEW64-2026$" title=r"^Controls$"; geometry-corner-radius 1; min-width 200; min-height 600; max-width 400; max-height 600; }

// @id=wr_1780376706829446231 @name=LabVIEW64-2026 Functions
window-rule { match app-id=r"^LabVIEW64-2026$" title=r"^Functions$"; geometry-corner-radius 1; min-width 200; min-height 600; max-width 400; max-height 600; }

// @id=wr_1780377007977904843 @name=LabVIEW64-2026 project window
window-rule {
    match app-id="^LabVIEW64-2026$" title="Project Explorer"
    default-column-width { fixed 300; }
    geometry-corner-radius 0
}

// @id=wr_1780377297459946918 @name=LabVIEW64-2026 main window
window-rule { match app-id=r"^LabVIEW64-2026$" title=r"^LabVIEW$"; open-floating true; clip-to-geometry true; geometry-corner-radius 1; }

// @id=wr_1780378358182434645 @name=LabVIEW64-2026 search palettes
window-rule {
    match app-id="^LabVIEW64-2026$" title="^Search Palettes$"
    min-width 200
    max-width 400
    min-height 600
    max-height 600
}

// @id=wr_1780378510100814469 @name=LabVIEW64-2026 quick drop
window-rule { match app-id=r"^LabVIEW64-2026$" title=r"^Quick Drop$"; open-floating true; clip-to-geometry true; geometry-corner-radius 1; min-width 200; min-height 300; max-width 300; max-height 600; }

// @id=wr_1780659966934410947 @name=wlfreerdp
window-rule {
    match app-id="^wlfreerdp$" title="^FreeRDP$"
    open-on-workspace "rdp"
}
// Chrome opens in fullscreen mode
window-rule {
    match app-id=r"^google-chrome$"
    match app-id=r"^com.google.Chrome$"
    open-fullscreen false
}
window-rule {
    match app-id="steam" title=r"^notificationtoasts_d+_desktop$"
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
window-rule {
    // match app-id=r#"^com\.google\.Chrome$"# 
    // match app-id=r#"^helium$"#
    
    match at-startup=true app-id=r"^google-chrome$"
    open-on-workspace "browser"
}
window-rule {
    match at-startup=true app-id=r"^org.wezfurlong.wezterm$"
    match at-startup=true app-id="rio"
    match app-id="kitty"
    match app-id="Alacritty"
    match app-id="com.mitchellh.ghostty"
    open-on-workspace "terminal"
}

// // @id=wr_1778004544202118208 @name=LabVIEW64-2022
// window-rule {
//     match app-id="^LabVIEW64-2022$" title="^Functions$"
//     open-floating true
//     draw-border-with-background true
// }

// // @id=wr_1778004786496243714 @name=LabVIEW64-2022 controls
// window-rule {
//     match app-id="^LabVIEW64-2022$" title="^Controls$"
//     open-floating true
// }

// // @id=wr_1778004845926757700 @name=LabVIEW64-2022
// window-rule {
//     match app-id="^LabVIEW64-2022$" title="^Quick Drop$"
//     open-floating true
//     min-width 200
//     max-width 400
//     min-height 100
//     max-height 200
// }

// // @id=wr_1778005071532776867 @name=LabVIEW64-2022
// window-rule {
//     match app-id="^LabVIEW64-2022$"
// }
