// Custom window rules
// Chrome opens in fullscreen mode
window-rule {
    match app-id=r#"^google-chrome$"#
    match app-id=r#"^com\.google\.Chrome$"#
    open-fullscreen false
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
window-rule {
    // match app-id=r#"^com\.google\.Chrome$"# 
    // match app-id=r#"^helium$"#
    
    match at-startup=true app-id=r#"^google-chrome$"#
    open-on-workspace "browser"
}
window-rule {
    match at-startup=true app-id=r#"^org\.wezfurlong\.wezterm$"#
    open-on-workspace "terminal"
}
