layout {

    focus-ring {
        active-color   "#ffbf83"
        inactive-color "#19120b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffbf83"
        inactive-color "#19120b"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffbf83"
        inactive-color "#f69c39"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffbf8380"
    }
}

recent-windows {
    highlight {
        active-color "#ffbf83"
        urgent-color "#ffb4ab"
    }
}
